:root {
  --clr-purple: #845ec2;
  --clr-accent: #296073;
  --clr-blue: #3596b5;
  --clr-light: #adc5cf;
  --clr-neutral: #fff;
}

html,
body,
#root {
  height: 100vh;
  height: -webkit-fill-available;
}

html {
  background-color: var(--clr-blue);
}

#root {
  background-image: linear-gradient(
    to right bottom,
    #3596b5,
    #1b8ec2,
    #3182cc,
    #5b73cd,
    #845ec2
  );
  overflow-y: scroll;
}

section {
  display: flex;
}

.container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  padding-inline: 4rem;
  padding-block: 1rem;
}

@media (max-width: 600px) {
  .container {
    padding-inline: 1rem;
    padding-block: 0;
    padding-top: 1rem;
  }

  .climber-card {
    width: 50% !important;
  }
}

@media (max-width: 600px) {
  .container > * + * {
    flex-basis: 90%;
  }
}

#search-input,
#search-results,
#content-container,
#loading-container,
#error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: var(--clr-neutral);
}

#error-container {
  background-color: darkred;
  color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}

#search-input,
#search-results {
  margin-top: 0;
  margin-bottom: 1rem;
}

#search-input p {
  color: var(--clr-neutral);
  font-size: 1.2rem;
  font-weight: 500;
  margin-block: 0.8em;
}

#search-input input {
  border-radius: 5px 0 0 5px;
}

#search-input button {
  border-radius: 0 5px 5px 0;
}

#search-results {
  justify-content: flex-start;
}

#search-input > div,
#search-results > div {
  display: flex;
  padding: 0;
  width: 80%;
  border: 5px solid var(--clr-accent);
  border-radius: 10px;
}

@media (max-width: 600px) {
  #search-input > div,
  #search-results > div {
    width: 100%;
  }
}

#search-input > div {
  flex-direction: row;
  justify-content: center;
  height: 2.5rem;
}

#search-results > div {
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--clr-neutral);
  color: var(--clr-accent);
}

#search-results > div > p {
  padding-inline: 0.8em;
}

.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 0.8em;
  padding-block: 0.8em;
  cursor: pointer;
}

.search-result:hover {
  background-color: var(--clr-accent);
  color: var(--clr-neutral);
}

.search-result-name-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.search-result-name {
  font-size: 1.2rem;
  font-weight: 700;
  align-items: center;
  margin-left: 1rem;
}

#search-results div > * > img {
  border-radius: 100%;
  height: 3rem;
  -webkit-box-shadow: 0 0 0 3px var(--clr-accent);
  -moz-box-shadow: 0 0 0 3px var(--clr-accent);
  box-shadow: 0 0 0 3px var(--clr-accent);
}

#search-input div > * {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-accent);
  display: flex;
  align-items: center;
}

#search-input button {
  border: none;
  background-color: white;
  cursor: pointer;
  color: var(--clr-accent);
  padding-right: 0.7rem;
}

#search-input input {
  caret-color: var(--clr-accent);
  text-indent: 10px;
  width: 100%;
  border: none;
}

input:focus-visible,
input:hover,
input:visited,
input:focus,
input:active {
  outline: none;
  border: none;
}

.climber-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--clr-accent);
  color: var(--clr-neutral);
  padding-inline: 1em;
  padding-bottom: 1em;
  margin-top: 2rem;
  width: 30%;
  border-radius: 10px;
}

.climber-card a,
.notable-climbs-container a {
  text-decoration: none;
  color: var(--clr-neutral);
}

.climber-card a:hover {
  text-decoration: underline;
}

.emphasized-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.thumbnail-container {
  height: 0;
  margin-bottom: 2.5rem;
}

.climber-card img {
  position: relative;
  top: -3rem;
  border-radius: 100%;
  height: 5rem;
  -webkit-box-shadow: 0 0 0 3px var(--clr-neutral);
  -moz-box-shadow: 0 0 0 3px var(--clr-neutral);
  box-shadow: 0 0 0 3px var(--clr-neutral);
}

.notable-climbs-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .notable-climbs-container {
    width: 100% !important;
  }
}

.notable-climbs-container > div {
  flex: 0 0 45%;
  margin-bottom: 1rem;
}

.notable-climbs-container > div:nth-child(odd) {
  margin-right: 1rem;
}

.notable-climb {
  border: 5px solid var(--clr-accent);
  color: var(--clr-neutral);
  border-radius: 10px;
  align-items: space-between;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

.notable-climb a {
  height: 100%;
}

.notable-climb:hover {
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 14px 0px var(--clr-accent);
  -moz-box-shadow: 4px 4px 14px 0px var(--clr-accent);
  box-shadow: 4px 4px 14px 0px var(--clr-accent);
}

p.small {
  margin-top: 2em;
  font-size: 0.6em;
}

@media (max-width: 600px) {
  .notable-climbs-container h2 {
    font-size: 22px;
  }
}
